<div id="app">
  <app-navbar></app-navbar>
  <div class="main">
    <mat-tab-group class="tabs" mat-align-tabs="center">
      <mat-tab label="cursos">
        <button (click)="openAddDialogCurso()">Adicionar Curso</button>
        <app-table
          [name]="'curso'"
          [columns]="cursos.columns"
          [dataSource]="cursos.data"
          (refreshTable)="getCursos(); getAlunos()">
        </app-table>
      </mat-tab>
      <mat-tab label="alunos">
        <button (click)="openAddDialogAluno()">Adicionar Aluno</button>
        <app-table
          [name]="'aluno'"
          [columns]="alunos.columns"
          [dataSource]="alunos.data"
          (refreshTable)="getCursos(); getAlunos()"></app-table>
      </mat-tab>
    </mat-tab-group>
  </div>
  <app-footer></app-footer>
  <simple-notifications></simple-notifications>
</div>
