/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
  --primary: #000000;
  --secondary: #f19f3e;
  --tertiary: #9b9b9b;
  --background: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

mat-dialog-container {
  background-color: var(--background) !important;
}
