table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  background: var(--background);
  color: var(--primary);
}

.mat-column-id,
.mat-column-createdAt,
.mat-column-updatedAt,
.mat-column-options {
  flex: 0 0 max(10%, 90px) !important;
  width: max(10%, 90px) !important;
}

.mat-column-descricao,
.mat-column-ementa,
.mat-column-nome {
  flex: 1 1 auto;
  min-width: 100px;
}

mat-icon {
  cursor: pointer;
  font-size: 1.3rem;
  margin: 0 0.1rem;

  &:hover {
    color: var(--secondary);
  }
}
